[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Ajoutez vos dépendances de production ici
requests = "*"
pydbus = "*"
PyGObject = "*"
pyyaml = "*"
schedule = "*"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.12"

[scripts]
test = "pytest"
format = "black ."
lint = "flake8 ."
typecheck = "mypy ." 